<!DOCTYPE html>
<html lang="es">
<title><%- product.name %>  </title>
<!-- HEAD -->
<%- include('partials/head')  %> 
<!-- /HEAD -->


<!-- CSS -->
<link rel="stylesheet" href="/stylesheets/detalleProducto.css">
<link href="/stylesheets/custom.css" rel="stylesheet">
	<link href="/stylesheets/owl.carousel.css" rel="stylesheet">
    <link href="/stylesheets/owl.theme.css" rel="stylesheet">
<!-- /CSS -->
<body>

<!-- HEADER -->
<%- include('partials/header')  %> 
<!-- /HEADER -->

    <!-- Cuerpo -->
    <main class="cuerpo container">
        <section class="detalle row">
            <!-- Nombre del producto -->
            <article class="title text-center col-sm-12 col-md-12 col-lg-12">
                <h1 class="nombre-del-producto"><%= product.name %></h1>
            </article>
            <!-- Imagen del producto -->
             <article class="img-product col-sm-12 col-md-12 col-lg-7">
                    <div class="carousel slide form-floating d-flex flex-column mb-5"  data-bs-ride="carousel" id="carouselExampleControls">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                          </ol>
                    <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="/img/products/<%= product.imagenes[0].image %>" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/img/products/<%= product.imagenes[0].image %>" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/img/products/<%= product.imagenes[0].image %>" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="/img/products/<%= product.imagenes[0].image %>" class="d-block w-100" alt="...">
                          </div>
                    </div>
                          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                         </a>
                         <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                         </a>
                    </div>
            </article>
            <!-- Vista desktop -->
        <div class="vista-desktop col-sm-12 col-md-12 col-lg-4">
            <!-- Nombre del producto -->
             <article>
                 <h1 class="nombre-del-producto"><%= product.name %></h1>
            </article>
            <!--Precio  -->
            <article>
                <h3 class="form-floating d-flex flex-column"> <p class="descuento-precio"><%= product.discount %>%OFF</p> <strike> <b>$<%= toThousand(product.price) %></b> </strike> </h3>
                <h2 class="precio-final">$ <%= toThousand(Math.round(product.price - product.price * product.discount / 100)) %></h2>
            </article>
            <!-- Boton desplegable de formas de envio -->
            <article>
                <div class="dropdown form-floating d-flex flex-column">
                        <button class="btn btn-success dropdown-toggle " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Metodos de envios <i class="fas fa-truck"></i>
                        </button>
                       <ul class="dropdown-menu" id="a" aria-labelledby="dropdownMenuButton">
                           <li><a href="#">Retiro en sucursal</a></li>
                           <li><a href="#">Envio a domicilio</a></li>
                           <li><a href="#">Retirar en sucursal de correo</a></li>
                       </ul>
                    </div>
            </article>
           <!-- Boton desplegable, medios de pago -->
            <article>
                <div class="dropdown ">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Medios de pago <i class="far fa-credit-card"></i> <i class="fas fa-credit-card"></i> 
                    </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a href="#">Efectivo, pagando en pagofacil o rapipago</a></li>
                            <li><a href="#">Debito automatico</a></li>
                            <li><a href="#">targeta de credito</a></li>
                        </ul>
                 </div>
            </article>
              <!-- Boton de compra -->
            <article>
                <div class="form-floating d-flex flex-column">
                    <button type="button" class="btn btn-success ">Comprar ahora <i class="fas fa-hand-holding-usd"></i></button>
                </div>
            </article>
            <!-- Boton agregar a carrito -->
            <article>
                <div class="form-floating d-flex flex-column">
                    <form action="/products/carrito" class="input-submit" method="GET"></form>
                    <button class="carrito btn btn-success" action="/products/carrito" ><a href="/products/carrito" style="color: white;">Agregar a carrito</a>   <i class="fas fa-shopping-cart"></i></button>
                </div>
                    
                     <!--    <button type="submit" class="btn btn-outline-light"><i class="fas fa-search"></i></button> -->
            </article>
        </div>

         <!--Precio  -->
         <article class="price col-sm-6 col-md-6 col-lg-4">
        
                <h3 class="form-floating d-flex flex-column"> <p class="descuento-precio"><%= product.discount %>%OFF</p> <strike> <b>$<%= toThousand(product.price) %></b></strike> </h3>
        </article>
        <article class="price col-sm-6 col-md-6 col-lg-4">
        <h2 class="precio-final">$ <%= toThousand(Math.round(product.price - product.price * product.discount / 100)) %></h2>
    </article>
        <!-- Boton desplegable de formas de envio -->
        <article class="shipping col-sm-6 col-md-6 col-lg-4">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Metodos de envios <i class="fas fa-truck"></i>
                </button>
               <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                   <li><a href="#">Retiro en sucursal</a></li>
                   <li><a href="#">Envio a domicilio</a></li>
                   <li><a href="#">Retirar en sucursal de correo</a></li>
               </ul>
            </div>
        </article>
       <!-- Boton desplegable, medios de pago -->
        <article class="pay col-sm-6 col-md-6 col-lg-4">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Medios de pago <i class="far fa-credit-card"></i> <i class="fas fa-credit-card"></i> 
                </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a href="#">Efectivo, pagando en pagofacil o rapipago</a></li>
                        <li><a href="#">Debito automatico</a></li>
                        <li><a href="#">targeta de credito</a></li>
                    </ul>
             </div>
        </article>
        <!-- Boton de compra -->
        <article class="shopping col-sm-6 col-md-6 col-lg-4">
            <div class="form-floating d-flex flex-column">
                <button type="button" class="btn btn-success ">Comprar ahora <i class="fas fa-hand-holding-usd"></i></button>
            </div>
        </article>
        <!-- Boton agregar a carrito -->
        <article class="shopping-cart col-sm-6 col-md-6 col-lg-4">
            <div class="form-floating d-flex flex-column">
                <button class="carrito btn btn-success ">Agregar a carrito <i class="fas fa-shopping-cart"></i></button>
            </div>
        </article>

             <!-- Descripcion del producto -->
             <article class="descripcion col-sm-12 col-md-12 col-lg-12 ">
                <div class="form-floating d-flex flex-column descripcion">
                   <h3>Nombre: <%= product.name %></h3>
                    <h6>Material: <%= product.material %></h6>
                    <h6>Color: <%= product.color %></h6>
                    <h6>Origen: <%= product.origin %></h6>
                    <h6>Envios: <%= product.delibery %></h6>
                    <h6>Cantidad disponible: <%= product.stock %></h6>
                    
                         <p>Descripcion:<br> <%= product.description %></p>

                    
               </div>
            </article>  
                <!-- Carrusel con imagenes de productos -->

<h3>Productos relacionados</h3>

                <div id="screen" class="content-section-b">
       
                    <div class="row wow bounceInUp" >
                    <div id="owl-demo" class="owl-carousel">
                        
                        
                        
                            <% recomendaciones.forEach(product => { %>
                               <a href="/products/detail/<%- product.id %> ">  
                            <div class="item">
                            
                                <img src="/img/products/<%= product.imagenes[0].image %>" alt="imagen de producto">
                                <h5>$ <%- product.price %></h5>  
                                <p><%- product.name %></p>
                              
                            </div>
                        </a>
                            <% }) %>
                        
                          
                        
                       
                      
                        
                          
                       
                        
                       
                        
        
                      </div>       
                  </div>
                </div>

            
            
        </section>
      
    </main>

    <!-- SCRIPTS -->
    <%- include('partials/scripts')  %> 
    <script src="/javascript/jquery-1.10.2.js"></script>
	<script src="/javascript/owl.carousel.js"></script>
	<script src="/javascript/script.js"></script>
	<script src="/javascript/wow.min.js"></script>
	<script src="/javascript/jquery.magnific-popup.js"></script> 
    <!-- /SCRIPTS -->
</body>
<!-- FOOTER -->
<%- include('partials/footer') %> 
<!-- /FOOTER -->
</html>