<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('partials/head')  %>   
<!-- /HEAD -->

<!-- CSS -->
<link rel="stylesheet" href="../stylesheets/style2.css">
<!-- /CSS -->
<body>

<!-- HEADER -->
<%- include('partials/header')  %> 
<!-- /HEADER -->


<!--Inicio Home-->
<main class="productos">
  <section class="container-fluid carousel">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../img/index/slider1-min.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/slider2-min.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/slider3-min.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </section>

  <h2>recomendados</h2>

  <section class="container">
    <% recomendados.forEach(product => { %>
    <div class="product">
      <a href="/products/detail/<%- product.id %> ">
        <img src="/img/products/<%- product.image%>" alt="imagen de producto">
        <h5>$ <%- product.price %></h5>  
        <p><%- product.name %></p>
      </a>
    </div>
   
    <% }) %>

  </section>




  <h2>más vendidos</h2>
  <section class="container">
    <% masVendidos.forEach(product => { %>
      <div class="product">
        <a href="/products/detail/<%- product.id %> ">
          <img src="/img/products/<%- product.image%>" alt="imagen de producto">
          <h5>$ <%- product.price %></h5>  
          <p><%- product.name %></p>
        </a>
      </div>
     
      <% }) %>
  </section>

</main>
  
  <!--Fin Home-->
 <!-- SCRIPTS -->
 <%- include('partials/scripts')  %> 
 <!-- /SCRIPTS -->

</body>
  <!--FOOTER-->
  <%-include('partials/footer') %>  
  <!--/FOOTER-->
</html>