<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('partials/head')  %>   
<!-- /HEAD -->

<!-- CSS -->
 <link rel="stylesheet" href="../stylesheets/style2.css">
<!-- /CSS -->
<body>

<!-- HEADER -->
<%- include('partials/header')  %> 


<div class="container-fluid headerFondo">
  <div class="row headerFondo">
   <section class="frase">
       <h1>Listo para la aventura?
       Aqui disponemos de todo lo que necesita <a href="#productos" class="btn-get-started">Ver</a></h1>
                
   </section>
   <img class="Header" src="/img/hero-bg.jpg" alt="">
  </div>
</div>
<!-- /HEADER -->


<!--Inicio Home-->
<main class="productos general">
  <section class="container carousel">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../img/index/publicidad-2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/publicidad-1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/publicidad-7.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/publicidad-6.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/publicidad-5.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/publicidad-8.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/publicidad-9.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </section>

  <!-- ======= Servicios-Mision Section ======= -->
  <section id="services">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Adventure-Acampada</h3>
        <p class="section-description">Somos una empresa que se distingue en el mercado por:</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a href=""><i class="bi bi-heart"></i></a></div>
            <h4 class="title"><a href="">Pasiòn</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a href=""><i class="bi bi-card-checklist"></i></a></div>
            <h4 class="title"><a href="">Servicio</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a href=""><i class="bi bi-bar-chart"></i></a></div>
            <h4 class="title"><a href="">Calidad</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a href=""><i class="bi bi-binoculars"></i></a></div>
            <h4 class="title"><a href="">Seguridad</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a href=""><i class="bi bi-brightness-high"></i></a></div>
            <h4 class="title"><a href="">Ecologia</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a href=""><i class="bi bi-people"></i></a></div>
            <h4 class="title"><a href="">Social</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action">
    <div class="container">
      <div class="row" data-aos="zoom-in">
        <div class="col-lg-9 text-center text-lg-start">
          <h3 class="cta-title"></h3>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#productos">Ofertas</a>
        </div>
      </div>

    </div>
  </section><!-- End Call To Action Section -->

  

  <h2 class="products-title" id="productos">recomendados</h1>

    <section class="container">
      <% recomendados.forEach(product => { %>
      <div class="product">
        <a href="/products/detail/<%- product.id %> ">
          <img src="/img/products/<%= product.imagenes[0].image %>" alt="imagen de producto">
          <h5>$ <%- product.price %></h5>  
          <p><%- product.name %></p>
        </a>
      </div>
     
      <% }) %>
  
    </section>




    <h2>más vendidos</h2>
    <section class="container">
      <% masVendidos.forEach(product => { %>
        <div class="product">
          <a href="/products/detail/<%- product.id %> ">
            <img src="/img/products/<%= product.imagenes[0].image %>" alt="imagen de producto">
            <h5>$ <%- product.price %></h5>  
            <p><%- product.name %></p>
          </a>
        </div>
       
        <% }) %>
    </section>

  <!-- ======= Contact Section ======= -->
  <section id="contact">
    <div class="container">
      <div class="section-header">
        <h3 class="section-title">Contacto</h3>
        <p class="section-description">Ante cualquier consulta puede encontrarnos en:</p>
      </div>
    </div>

    <!-- Uncomment below if you wan to use dynamic maps -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.682474621744!2d-58.409666285193964!3d-34.6374635667906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb0e35798e89%3A0xa81245433813318c!2sAv.%20Caseros%203100%2C%20C1437%20CABA!5e0!3m2!1ses!2sar!4v1615513864591!5m2!1ses!2sar" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen loading="lazy"></iframe>
    
    <div class="container mt-5">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4 col-sm-12">

          <div class="info">
            <div>
              <i class="bi bi-geo-alt"></i>
              <p>Av. Caseros 3100<br>Buenos Aires, C1437 CABA</p>
            </div>

            <div>
              <i class="bi bi-envelope"></i>
              <p>info@gmail.com</p>
            </div>

            <div>
              <i class="bi bi-phone"></i>
              <p>+54 11 2020 2021</p>
            </div>
          </div>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main>
  
  <!--Fin Home-->
 <!-- SCRIPTS -->
 <%- include('partials/scripts')  %> 
 <!-- /SCRIPTS -->

</body>
  <!--FOOTER-->
  <%-include('partials/footer') %>  
  <!--/FOOTER-->
</html>