<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('partials/head')  %>   
<!-- /HEAD -->

<!-- CSS -->
 <link rel="stylesheet" href="../stylesheets/style2.css">
<!-- /CSS -->
<body>

<!-- HEADER -->
<%- include('partials/header')  %> 


<div class="container-fluid headerFondo">
  <div class="row headerFondo">
   <section class="frase">
       <h1>Listo para la aventura?
       Aqui disponemos de todo lo que necesita <a href="#productos-vermas" class="btn-get-started">Ver</a></h1>
                
   </section>
   <img class="Header" src="/img/hero-bg.jpg" alt="">
  </div>
</div>
<!-- /HEADER -->


<!--Inicio Home-->
<main class="productos general">
  <section class="container carousel">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../img/index/publicidad-2.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/publicidad-1.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/publicidad-7.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/publicidad-6.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/publicidad-5.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/publicidad-8.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/index/publicidad-9.jpeg" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </section>

  <!-- ======= Servicios-Mision Section ======= -->
  <section id="services">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Adventure-Acampada</h3>
        <p class="section-description">Somos una empresa que se distingue en el mercado por:</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a href=""><i class="bi bi-heart"></i></a></div>
            <h4 class="title"><a href="">Pasiòn</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a href=""><i class="bi bi-card-checklist"></i></a></div>
            <h4 class="title"><a href="">Servicio</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a href=""><i class="bi bi-bar-chart"></i></a></div>
            <h4 class="title"><a href="">Calidad</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a href=""><i class="bi bi-binoculars"></i></a></div>
            <h4 class="title"><a href="">Seguridad</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a href=""><i class="bi bi-brightness-high"></i></a></div>
            <h4 class="title"><a href="">Ecologia</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6" data-aos="zoom-in">
          <div class="box">
            <div class="icon"><a href=""><i class="bi bi-people"></i></a></div>
            <h4 class="title"><a href="">Social</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action">
    <div class="container">
      <div class="row" data-aos="zoom-in">
        <div class="col-lg-9 text-center text-lg-start">
          <h3 class="cta-title"></h3>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#productos">Ofertas</a>
        </div>
      </div>

    </div>
  </section><!-- End Call To Action Section -->

  <h2 class="products-title" id="categorias">Categorias</h1>
  
    <div id="gtco-portfolio" class="gtco-section">
      <div class="gtco-container">
        
        <div class="row row-pb-md">
          <div class="col-md-12">
            <ul id="gtco-portfolio-list">
              <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_1.jpg); "> 
                <a href="/products/category/mochilas" class="color-1">
                  <div class="case-studies-summary">
                    <h2>Mochilas</h2>
                  </div>
                </a>
              </li>
              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_2.jpg); ">
                <a href="#" class="color-2">
                  <div class="case-studies-summary">
                    <h2>Carpas</h2>
                  </div>
                </a>
              </li>
              <li class="one-half animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_3.jpg); ">
                <a href="#" class="color-3">
                  <div class="case-studies-summary">
                    <h2>Iluminarias</h2>
                  </div>
                </a>
              </li>
              <li class="one-half animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_4.jpg); ">
                <a href="#" class="color-4">
                  <div class="case-studies-summary">
                    <h2>Herramientas</h2>
                  </div>
                </a>
              </li>
              <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_5.jpg); "> 
                <a href="#" class="color-5">
                  <div class="case-studies-summary">
                    <h2>Cocina</h2>
                  </div>
                </a>
              </li>
              <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/img_6.jpg); ">
                <a href="#" class="color-6">
                  <div class="case-studies-summary">
                    <h2>Colchones</h2>
                  </div>
                </a>
              </li>
            </ul>		
          </div>
        </div>
  
        <div class="row" id="boton-Productos">
          <div class="col-md-4 col-md-offset-4 text-center animate-box">
            <a href="/products/list" class="btn btn-white btn-outline btn-lg btn-block">Ver Productos</a>
          </div>
        </div>
      </div>
    </div>

  <h1  id="productos-vermas"></h1>

  <h2 class="products-title" id="productos">recomendados</h1>

    <section class="container">
      <% recomendados.forEach(product => { %>
      <div class="product">
        <a href="/products/detail/<%- product.id %> ">
          <img src="/img/products/<%= product.imagenes[0].image %>" alt="imagen de producto">
          <h5>$ <%- product.price %></h5>  
          <p><%- product.name %></p>
        </a>
      </div>
     
      <% }) %>
  
    </section>




    <h2>más vendidos</h2>
    <section class="container">
      <% masVendidos.forEach(product => { %>
        <div class="product">
          <a href="/products/detail/<%- product.id %> ">
            <img src="/img/products/<%= product.imagenes[0].image %>" alt="imagen de producto">
            <h5>$ <%- product.price %></h5>  
            <p><%- product.name %></p>
          </a>
        </div>
       
        <% }) %>
    </section>

</main>
  
  <!--Fin Home-->
 <!-- SCRIPTS -->
 <%- include('partials/scripts')  %> 
 <!-- /SCRIPTS -->

</body>
  <!--FOOTER-->
  <%-include('partials/footer') %>  
  <!--/FOOTER-->
</html>