<!DOCTYPE html>
<html lang="es">
<%- include('partials/head')  %> 
<link rel="stylesheet" href="../stylesheets/style2.css">
<link rel="stylesheet" href="../stylesheets/list.css">
<body>
    <%- include('partials/header')  %> 


 <main class="productos general">

  <h2 class="products-title" id="categorias">Productos</h1>
    <section class="container">      
        <% products.forEach(product => { %>
        <div class="product">
          <a href="/products/detail/<%- product.id %> ">
            <img src="/img/products/<%= product.imagenes[0].image %>" alt="imagen de producto">
            <b class="descuento-precio"><%= product.discount %>%OFF</b>  <b class="precio-base">$<%= toThousand(product.price) %></b>  </h3>
            <p class="precio-final"></p><h5 class="precio-con-descuento">$ <%= toThousand(Math.round(product.price - product.price * product.discount / 100)) %></h5>   
            <p><%- product.name %></p>
          </a>
        </div>
      
        <% }) %>
     
      </section>

    <%- include('partials/scripts')  %> 
  </main>  
</body>
<%- include('partials/footer')  %> 
</html>