<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head')  %>   
<!-- /HEAD -->
<!-- CSS -->
<link rel="stylesheet" href="../stylesheets/loginYregister.css">
<script src="../javascript/loginValidator.js"></script>
<!-- /CSS -->
<body>
<!-- HEADER -->

<!-- /HEADER -->
<!--Inicio Home-->
  <main class="container" id="loginRegister">
    <h1 class="text-center my-5">Login</h1>
    <form action="/users/login" method="POST" id="form">
        
        <section class="datos row">
            <article class="dato col-sm-12 col-md-6 col-lg-8">
                <div class="form-floating d-flex flex-column mb-3">
                    <input type="email" class="email form-control" id="email" name="email"placeholder="name@example.com" value="<%= typeof old != 'undefined' && old.email ? old.email.msg : null %>">
                    <span class="text-danger"><%= typeof errores != "undefined" && errores.email ? errores.email.msg : null %> </span>
                    <label for="email" id="email">Email</label>
                    <span class="error" id="emailErrors"></span>
                </div>
            </article>
            <article class="dato col-sm-12 col-md-6 col-lg-8">
                <div class="form-floating d-flex flex-column mb-3">
                    <input type="password" class="password form-control" id="password"
                          placeholder="Password" name="password">
                      <label for="password" id="password">Password</label>
                      <span class="text-danger"><%= typeof errores != "undefined" && errores.password ? errores.password.msg : null %> </span>
                      <span class="error" id="passErrors"></span>
                </div>
                
        
            <div class="col-12">
              <span class="text-danger"><%= typeof errores != "undefined" && errores.invalid ? errores.invalid.msg : null %> </span>
            </div>
            
            </article>
            <article class="dato col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating d-flex flex-column mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck" name="recordar">
                        <label class="form-check-label" for="gridCheck">
                            Recordarme
                        </label>
                        <p class="registrate">¿No estas registrado? <a href="/users/register">Registrate</a></p>
                    </div>
                    <div class="modal-footer text-center">
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        <span id="errorBoton" class="error text-danger"></span>
                    </div>
                </div>
            </article>            
        </section>
    </form>

</main>  
<!--Fin Home-->
 <!-- SCRIPTS -->
 <%- include('./partials/scripts')  %> 
 <!-- /SCRIPTS -->
</body>
  <!--FOOTER-->
   
  <!--/FOOTER-->
</html>