<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('partials/head')  %>   
<!-- /HEAD -->
<!-- CSS -->
 <link rel="stylesheet" href="../stylesheets/style2.css">
 
<!-- /CSS -->
<body>
<%- include('partials/header')  %> 
<main class="container-fluid" style="margin-top: 130px;">
    
    <div class="preloader">
      <div class="lds-ripple">
          <div class="lds-pos"></div>
          <div class="lds-pos"></div>
      </div>
  </div>
  <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
      data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

      <%- include('partials/sideboard') %> 
      
      <div class="page-wrapper">
          <div class="page-breadcrumb">
              <div class="row align-items-center">
                  <div class="col-5">
                      <h4 class="page-title">Mi Perfil</h4>
                      <div class="d-flex align-items-center">
                          <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                              </ol>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-lg-4 col-xlg-3 col-md-5">
                      <div class="card">
                          <div class="card-body">
                              <center class="m-t-30"> <img src="/img/avatar/<%= user.avatar %> "
                                      class="rounded-circle" width="150" />
                                  <h4 class="card-title m-t-10"><%= user.firstName%> <%= user.lastName%></h4>
                              </center>
                          </div>
                          <div>
                              <hr>
                          </div>
                          <div class="card-body"> <small class="text-muted">Email</small>
                              <h6><%= user.email%></h6> <small class="text-muted p-t-30 db">Phone</small>
                              <h6>+54 9 <%= user.telefono %></h6>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-8 col-xlg-9 col-md-7">
                      <div class="card">
                          <div class="card-body">
                              <form class="form-horizontal form-material mx-2" id="form" action="/users/profile/update/<%=user.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
                                  <div class="form-group">
                                      <label class="col-md-12">Nombre</label>
                                      <div class="col-md-12">
                                          <input type="text" placeholder="<%= user.firstName %>" id="firstName" name="firstName"  value="<%= user.firstName %>"
                                              class="form-control form-control-line">
                                              <span class="error" id="firstNameErrors"></span>
                                              <span class="text-danger"><%= (typeof errores != 'undefined' && errores.firstName ? errores.firstName.msg : null) %> </span>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                    <label class="col-md-12">Apellido</label>
                                    <div class="col-md-12">
                                        <input type="text" id="lastName" placeholder="<%= user.lastName %>" name="lastName" value="<%= user.lastName %>"
                                            class="form-control form-control-line">
                                            <span class="error" id="lastNameErrors"></span>
                                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.lastName ? errores.lastName.msg : null) %> </span>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="col-md-12">Telefono</label>
                                    <div class="col-md-12">
                                        <input type="text" id="telefono" placeholder="<%= user.telefono %>" name="telefono" value="<%= user.telefono %>"
                                            class="form-control form-control-line">
                                            <span class="error" id="telefonoErrors"></span>
                                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.telefono ? errores.telefono.msg : null) %> </span>
                                    </div>
                                 </div>
                                  
                                  <div class="form-group">
                                      <label class="col-md-12">Imagen</label>
                                      <div class="col-md-12">
                                          <input type="file" class="form-control" name="avatar">                                        
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="col-sm-12">
                                          <button class="btn btn-success text-white" type="submit">Actualizar Perfil</button>
                                      </div>
                                      <span class="error text-danger" id="errorBoton"></span>
                                  </div>
                              </form>
                              <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                  <button class="btn btn-success text-white" type="submit">Eliminar cuenta</button>
                                </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
 <!-- SCRIPTS -->
 <%- include('partials/scripts')  %> 
 <script src="/javascript/perfilValidator.js"></script>
 <!-- /SCRIPTS -->
</body>
  <!--FOOTER-->
  <%-include('partials/footer') %>  
  <!--/FOOTER-->
</html>