<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<%- include('./partials/head')  %>   
<!-- /HEAD -->
<!-- CSS -->
<link rel="stylesheet" href="../stylesheets/loginYregister.css">
 <script src="../javascript/registerValidator.js"></script>
<!-- /CSS -->
<body>
<!-- HEADER -->

<!-- /HEADER -->
<!--Inicio Home-->
  <main class="container" id="loginRegister">
    <h1 class="text-center my-5">Registrarme</h1>
    <form action="/users/register" method="POST" enctype="multipart/form-data">        
        <section class="datos row">
            <article class="dato col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating d-flex flex-column mb-3">
                    <input type="text" class="firstName form-control" id="firstName" placeholder="Nombre" name="firstName" value="<%= (typeof old != 'undefined' && old.firstName ? old.firstName : null) %>">
                    <label for="firstName" id="firstName">Nombre *</label>
                    <span class="error" id="firstNameErrors"></span>
                    <span class="text-danger"><%= (typeof errores != 'undefined' && errores.firstName ? errores.firstName.msg : null) %> </span>
                </div>
            </article>
            <article class="dato col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating d-flex flex-column mb-3">
                    <input type="text" class="lastName form-control" id="lastName" placeholder="Apellido" name="lastName" value="<%= (typeof old != 'undefined' && old.lastName ? old.lastName : null) %>">
                    <label for="lastName" id="lastName">Apellido *</label>
                    <span class="error" id="lastNameErrors"></span>
                    <span class="text-danger"><%= (typeof errores != 'undefined' && errores.lastName ? errores.lastName.msg : null) %> </span>
                </div>
            </article>
            <article class="dato col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating d-flex flex-column mb-3">
                    <input type="email" class="email form-control" id="email" placeholder="name@example.com" name="email" value="<%= (typeof old != 'undefined' && old.email ? old.email : null) %>">

                    <label for="email" id="email">Email</label>
                    <span class="error" id="emailErrors"></span>

                    <span class="text-danger"><%= (typeof errores != 'undefined' && errores.email ? errores.email.msg : null) %> </span>
                </div>
            </article>
            <article class="dato col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating d-flex flex-column mb-3">
                    <input type="password" class="password form-control" id="password" placeholder="Password" name="password">
                      <label for="password" id="password">Password</label>
                      <span class="error" id="passErrors"></span>
                      <span class="text-danger"><%= (typeof errores != 'undefined' && errores.password ? errores.password.msg : null) %> </span>
                </div>
            </article>
            <article class="dato col-sm-12 col-md-6 col-lg-6">
                <div class="form-floating d-flex flex-column mb-3">
                    <input type="password" class="password2 form-control" id="password2" placeholder="Repetir Password" name="password2">
                      <label for="password2" id="password2">Password</label>
                      <span class="error" id="pass2Errors"></span>
                      <span class="text-danger"><%= (typeof errores != 'undefined' && errores.password2 ? errores.password2.msg : null) %> </span>
                </div>
            </article>
            <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck" name="bases" value="off">
                  <label class="form-check-label" for="gridCheck">
                    Acepto bases y condiciones
                  </label>
                </div>
                <span class="text-danger"><%= (typeof errores != 'undefined' && errores.bases ? errores.bases.msg : null) %> </span>
              </div>
            <article class="dato col-sm-12 col-md-6 col-lg-4">
                <div class="form-floating d-flex flex-column text-center mb-3">
                        <button type="submit" class="btn btn-primary">Registrarme</button>
                        <p class="mt-4">¿Estas registrado? <a href="/users/login">Inicia sesion</a> </p>
                </div>
            </article>            
        </section>
    </form>
</main>  
<!--Fin Home-->
 <!-- SCRIPTS -->
 <%- include('./partials/scripts')  %> 

 <!-- /SCRIPTS -->
</body>
  <!--FOOTER-->
   
  <!--/FOOTER-->
</html>