<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('partials/head') %> 
<!-- /HEAD -->

<!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/formProducto.css">
<!-- /CSS -->
<body>

    <!-- HEADER -->
    <%- include('partials/header')  %> 
    <!-- /HEADER -->

    <main class="container" style="margin-top: 150px;">
        <h1 class="text-center my-5">registro de producto</h1>
        <form action="/admin/products/store" method="POST" enctype="multipart/form-data">
            <section class="datos row">
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Titulo del Anuncio" name="name" value="<%= (typeof old != 'undefined' && old.name ? old.name : null) %>">
                        <label for="floatingInput">Titulo del Anuncio *</label>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.name? errores.name.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Precio" name="price" value="<%= (typeof old != 'undefined' && old.price ? old.price : null) %>">
                        <label for="floatingInput">Precio *</label>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.price? errores.price.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" id="floatingInput" placeholder="Descuento" name="discount" value="<%= (typeof old != 'undefined' && old.discount ? old.discount : null) %>">
                        <label for="floatingInput">Descuento %</label>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.discount? errores.discount.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Marca" name="mark" value="<%= (typeof old != 'undefined' && old.mark ? old.mark : null) %>">
                        <label for="floatingInput">Marca *</label>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.mark? errores.mark.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Origen" name="origin" value="<%= (typeof old != 'undefined' && old.origin ? old.origin : null) %>"> 
                        <label for="floatingInput">Origen *</label>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.origin? errores.origin.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Color" name="colors" value="<%= (typeof old != 'undefined' && old.colors ? old.colors : null) %>">
                        <label for="floatingInput">Color *</label>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.colors? errores.colors.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Talle" name="size" value="<%= (typeof old != 'undefined' && old.size ? old.size : null) %>">
                        <label for="floatingInput">Talle</label>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.size? errores.size.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Material" name="material" value="<%= (typeof old != 'undefined' && old.material ? old.material : null) %>">
                        <label for="floatingInput">Material</label>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.material? errores.material.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" aria-label="Default select example" name="category" value="<%= (typeof old != 'undefined' && old.category ? old.category : null) %>">
                            <option selected hidden>Categoria</option>
                            <% categorias.forEach(categoria => {%>
                                <option value=" <%= categoria.id %> "><%= categoria.nombre %></option>
                            <% }) %>
                        </select>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.category? errores.category.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" name="stock" aria-label="Default select example" id="stock" value="<%= (typeof old != 'undefined' && old.stock ? old.stock : null) %>">
                            <option selected disabled>Stock</option>
                            <% for(let i=0;i < 10;i++){%> 
                                <option value=" <%= i %> "><%= i %></option>
                            <% } %>
                        </select>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.stock? errores.stock.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select delivery" name="delibery" aria-label="Default select example" id="delivery" value="<%= (typeof old != 'undefined' && old.delibery ? old.delibery : null) %>">
                            <option selected hidden>Envio</option>                          
                            <option value="si">Si</option>
                            <option value="no">No</option>
                            <option value="consular">Consultar al vendedor</option>
                        </select>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.delibery? errores.delibery.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="form-floating d-flex flex-column mb-3">
                        <textarea class="form-control description" placeholder="Leave a comment here" id="floatingTextarea2 description"
                            style="height: 100px" name="description"></textarea>
                        <label for="floatingTextarea2">Descripciòn</label>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02" name="image-product" value="<%= (typeof old != 'undefined' && old.image-product ? old.image-product : null) %>">
                        <label class="input-group-text" for="inputGroupFile02">Subir Imagen</label>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.image-product? errores.image-product.msg : null) %> </span>
                      </div>                    
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="boton">
                        <button class="btn btn-primary" type="submit">Cancelar</button>
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </article> 
                               
            </section>
        </form>
    </main>

    <!-- SCRIPT -->
    <%- include('partials/scripts')  %> 
    <!-- /SCRIPTS -->

</body>

</html>