<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('partials/head') %> 
<!-- /HEAD -->

<!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/formProducto.css">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <script src="/javascript/productValidator.js"></script>
<!-- /CSS -->
<body>

    <!-- HEADER -->
    <%- include('partials/header')  %> 
    <!-- /HEADER -->

    <main class="container" style="margin-top: 150px;">
        <h1 class="text-center my-5">registro de producto</h1>
        <form action="/admin/products/update/<%= product.id %>?_method=PUT" id="form" method="POST" enctype="multipart/form-data">
            <h3>Editar</h3>
            <section class="datos row">
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" id="name" class="name form-control" id="name" placeholder="Titulo del Anuncio" name="name" value="<%= product.name %>">
                        <label for="name" id="name">Titulo del Anuncio *</label>
                        <span class="error" id="nameErrors"></span>
                    </div>
                </article>

                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" id="price" class="form-control" id="floatingInput" placeholder="Precio" name="price" value="<%= product.price %>">
                        <label for="price floatingInput">Precio *</label>
                        <span class="error" id="priceErrors"></span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" id="discount" class="form-control" id="floatingInput" placeholder="Descuento" name="discount" value="<%= product.discount %>">
                        <label for="discount floatingInput">Descuento %</label>
                        <span class="error" id="discountErrors"></span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" id="mark" class="form-control" id="floatingInput" placeholder="Marca" name="mark" value="<%= product.mark %>">
                        <label for="mark floatingInput">Marca *</label>
                        <span class="error" id="markErrors"></span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" id="origin" class="form-control" id="floatingInput" placeholder="Origen" name="origin" value="<%= product.origin %>">
                        <label for="origin floatingInput">Origen *</label>
                        <span class="error" id="originErrors"></span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" id="color" class="form-control" id="floatingInput" placeholder="Color" name="color" value="<%= product.color %>">
                        <label for="color floatingInput">Color *</label>
                        <span class="error" id="colorErrors"></span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" id="size" class="form-control" id="floatingInput" placeholder="Talle" name="size" value="<%= product.size %>">
                        <label for="size floatingInput">Talle</label>
                        <span class="error" id="sizeErrors"></span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" aria-label="Default select example" name="ID_category">
                            <option selected hidden>Categoria</option>
                            <% categorias.forEach(categoria => { %>
                                <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                            <% }) %>

                        </select>
                    </div>
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" id="material" class="form-control" id="floatingInput" placeholder="Material" name="material" value="<%= product.material %>">
                        <label for="material floatingInput">Material</label>
                        <span class="error" id="materialErrors"></span>
                    </div>
                </article>
              
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" name="stock" aria-label="Default select example" id="stock">
                            <option selected disabled>Stock</option>
                            <% for( let i = 1; i < 11; i++ ) { %>
                            <option value="<%= i %>"><%= i %></option>
                            <% } %>
                            
                            
                        </select>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select delibery" name="delibery" aria-label="Default select example" id="delibery">
                            <option selected disabled>Envio</option>
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                            <option value="Consultar al vendedor">Consultar al vendedor</option>
                        </select>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="form-floating d-flex flex-column mb-3">
                        <textarea class="description form-control" placeholder="Leave a comment here" id="description"
                            style="height: 100px" name="description" value="<%= product.description %>"></textarea>
                        <label for="description" id="description">Descripción</label>
                        <span class="error" id="descriptionErrors"></span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group mb-3">
                        <input type="file" class="formFile form-control" id="formFile" name="image-products">
                        <label class="input-group-text" for="formFile" id="formFile">Subir Imagen</label>
                        <span class="error" id="fileErrors"></span>
                      </div>                    
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="boton">
                        <button class="btn btn-primary" type="submit">Guardar los Cambios</button>
                        <span id="errorBoton" class="error text-danger"></span>
                    </div>
                </article> 
                               
            </section>
        </form>
    </main>

    <!-- SCRIPT -->
    <%- include('partials/scripts')  %> 
    <!-- /SCRIPTS -->

</body>

</html>