<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('partials/head') %> 
<!-- /HEAD -->

<!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/formProducto.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascript/productValidator.js"></script>
    <script src="/javascript/credenciales.js"></script>
<!-- /CSS -->
<body>

    <!-- HEADER -->
    <%- include('partials/header')  %> 
    <!-- /HEADER -->

    <main class="container" style="margin-top: 150px;">
        <h1 class="text-center my-5">registro de producto</h1>
        <form action="/admin/products/store" method="POST" id="form" class="form" enctype="multipart/form-data">
            <section class="datos row">
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Titulo del Anuncio" name="name" value="<%= (typeof old != 'undefined' && old.name ? old.name : null) %>">
                        <label for="name floatingInput"id="name">Titulo del Anuncio *</label>
                        <span class="error" id="nameErrors"></span>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.name? errores.name.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" placeholder="Precio" id="price" name="price" value="<%= (typeof old != 'undefined' && old.price ? old.price : null) %>">
                        <label for="price floatingInput">Precio *</label>
                        <span class="error" id="priceErrors"></span>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.price? errores.price.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="number" class="form-control" placeholder="Descuento" id="discount" name="discount" value="<%= (typeof old != 'undefined' && old.discount ? old.discount : null) %>">
                        <label for="discount floatingInput">Descuento %</label>
                        <span class="error" id="discountErrors"></span>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.discount? errores.discount.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" placeholder="Marca" name="mark" id="mark" value="<%= (typeof old != 'undefined' && old.mark ? old.mark : null) %>">
                        <label for="mark floatingInput">Marca *</label>
                        <span class="error" id="markErrors"></span>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.mark? errores.mark.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" placeholder="Origen" name="origin" id="origin" value="<%= (typeof old != 'undefined' && old.origin ? old.origin : null) %>"> 
                        <label for="origin floatingInput">Origen *</label>
                        <span class="error" id="originErrors"></span>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.origin? errores.origin.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" placeholder="Color" id="color" name="color" value="<%= (typeof old != 'undefined' && old.color ? old.color : null) %>">
                        <label for="color floatingInput">Color *</label>
                        <span class="error" id="colorErrors"></span>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.color? errores.color.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" placeholder="Talle" id="size" name="size" value="<%= (typeof old != 'undefined' && old.size ? old.size : null) %>">
                        <label for="size floatingInput">Talle</label>
                        <span class="error" id="sizeErrors"></span>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.size? errores.size.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <input type="text" class="form-control" placeholder="Material" id="material" name="material" value="<%= (typeof old != 'undefined' && old.material ? old.material : null) %>">
                        <label for="floatingInput">Material</label>
                        <span class="error" id="materialErrors"></span>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.material? errores.material.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" aria-label="Default select example" id="ID_category" name="ID_category" value="<%= (typeof old != 'undefined' && old.ID_category ? old.ID_category : null) %>">
                            <option selected hidden>Categoria</option>
                            <% categorias.forEach(categoria => {%>
                                <option value=" <%= categoria.id %> "><%= categoria.nombre %></option>
                            <% }) %>
                        </select>
                        <span class="error" id="categoryErrors"></span>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.ID_category? errores.ID_category.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select" name="stock" id="stock" aria-label="Default select example" id="stock" value="<%= (typeof old != 'undefined' && old.stock ? old.stock : null) %>">
                            <option selected disabled>Stock</option>
                            <% for(let i=0;i < 10;i++){%> 
                                <option value=" <%= i %> "><%= i %></option>
                            <% } %>
                        </select>
                        <span class="error" id="stockErrors"></span>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.stock? errores.stock.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-6 col-lg-4">
                    <div class="form-floating d-flex flex-column mb-3">
                        <select class="form-select delibery" name="delibery" id="delibery" aria-label="Default select example" id="delibery" value="<%= (typeof old != 'undefined' && old.delibery ? old.delibery : null) %>">
                            <option selected hidden>Envio</option>                          
                            <option value="Si">Si</option>
                            <option value="No">No</option>
                            <option value="Consultar al vendedor">Consultar al vendedor</option>
                        </select>
                        <span class="error" id="deliberyErrors"></span>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.delibery? errores.delibery.msg : null) %> </span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="form-floating d-flex flex-column mb-3">
                        <textarea class="form-control description" id="description" placeholder="Leave a comment here" id="floatingTextarea2 description"
                            style="height: 100px" name="description"></textarea>
                       
                        <label for="description" id="description">Descripciòn</label>
                        <span class="error" id="descriptionErrors"></span>
                    </div>
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="input-group mb-3">
                        <input type="file" class="formFile form-control" id="formFile" name="image" value="<%= (typeof old != 'undefined' && old.image ? old.image : null) %>">
                       
                        <label class="input-group-text"  for="formFile">Subir Imagen</label>
                        <span class="error text-danger" id="fileErrors"></span>
                        <span class="text-danger"><%= (typeof errores != 'undefined' && errores.image? errores.image.msg : null) %> </span>
                      </div>                    
                </article>
                <article class="dato col-sm-12 col-md-12 col-lg-12">
                    <div class="boton">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                        <span id="errorBoton" class="error text-danger credencialError"></span>
                    </div>
                </article> 
                               
            </section>
        </form>
        <div class="boton">
       <button class="btn btn-primary" href="/admin/products/list" type="submit" id="cancelar" ><a href="/admin/products/list" style="list-style: none; color: white; text-decoration: none;" >Cancelar</a> </button>
    </div>
    </main>

    <!-- SCRIPT -->
    <%- include('partials/scripts')  %> 
    <!-- Validacion Front -->

    <!-- /SCRIPTS -->

</body>

</html>